@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --color-fondo: #f6ded2;
    --color-primario: #690be9;
    --color-secundario: #770d65;
    --color-secundario-2: #810955;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: larger;
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

.menu-escondido {
    display: none;
}
.menus {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.menus * {
    padding: 8px;
    background-color: var(--color-secundario);
    cursor: pointer;
    color: white;
    transition: background-color 0.5s;

}
.menus *:hover {
    background-color: var(--color-secundario-2);
}
.menu-activo {
    background-color: var(--color-secundario-2);
}
form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 200px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label:has(input[type="radio"]) {
    display: flex;
    flex-direction: row;
}

fieldset {
    border: none;
    padding: 10px;
    margin: 0;
    background-color: var(--color-secundario);
    color: white;
}
legend {
    background-color: var(--color-primario);
    color: white;
    padding: 4px;
}

.info {
    background-color: red;
    padding: 8px;
    color: white;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.titulo-login {
    background-color: var(--color-primario);
    font-size: 2em;
    color: white;
    padding: 8px;
}

.cuadrado-guay {
    padding: 12px;
    box-shadow: 7px 7px black
}

.cerrar {
    position:absolute;
    top: 12px;
    left: 12px;
    background-color: var(--color-secundario);
    cursor: pointer;
    color: white;
}

.btn-proyecto {
    position:absolute;
    top: 12px;
    right: 12px;
    background-color: var(--color-secundario);
    cursor: pointer;
    color: white;
}

.tabla-tutores{
    border-collapse: collapse;
}
.tabla-tutores tr {
    border: 1px solid black;
    width: 100%;
}
.tabla-tutores th {
    padding: 4px;
    background-color: var(--color-primario);
    color: white;
}
.tabla-tutores td {
    padding: 6px;
    background-color: var(--color-secundario);
    color: white;
}

.tabla-proyectos{
    border-collapse: collapse;
}
.tabla-proyectos tr {
    border: 1px solid black;
    width: 100%;
}
.tabla-proyectos th {
    padding: 4px;
    background-color: var(--color-primario);
    color: white;
}
.tabla-proyectos td {
    padding: 6px;
    background-color: var(--color-secundario);
    height: 24px;
    color: white;
    max-height: 42px;
}
.tabla-proyectos td img {
    width: 42px;
    height: 42px;
}

.desc-proyecto {
    width: 100px;
    height: 24px !important;
}

.desc-proyecto p {
    overflow: scroll;
    max-height: 3em;
    width: 320px;
    margin: 0;
}

.btn-form {
    background-color: var(--color-primario);
    color: white;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
}